Repository Guts/DicoGIS, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, quality

update(ci): use latest Ubuntu LTS (24.04)
  .github/workflows/builder_releaser.yml
  .github/workflows/linter_ubuntu.yml
  .github/workflows/tester_ubuntu.yml
Labels: ci-cd

update(packaging): bump default GDAL version from 3.8 to 3.10
  .github/workflows/builder_releaser.yml
Labels: ci-cd

fix(database): postgres service creation was failing if pgservice file does not exist yet
  dicogis/models/database_connection.py
  dicogis/ui/tab_database.py
  dicogis/utils/texts.py
Labels: none

fix(database): update pgserviceparser to fix #352
  pyproject.toml
Labels: none

fix(database): update messages in tests
  tests/test_database_connection.py
Labels: quality

update(ci): test against every supported Python versions
  .github/workflows/tester_ubuntu.yml
  pyproject.toml
  sonar-project.properties
Labels: ci-cd

update(ci): use Python version in artifact name
  .github/workflows/tester_ubuntu.yml
Labels: ci-cd

feature(ui): add option to enable debug mode
  dicogis/ui/tab_settings.py
Labels: none

update(ci): use Python version in codecov uploads
  .github/workflows/tester_ubuntu.yml
Labels: ci-cd

update(chore): bump minimal typer version to handle click 8.2+
  pyproject.toml
Labels: none

update(ci): run tests when pyproject is modified
  .github/workflows/tester_ubuntu.yml
Labels: ci-cd

update(ci): remove assignee from dependabot configuration
  .github/dependabot.yml
Labels: ci-cd

update(ci): use GDAL 3.11 since 3.10 is no more available on ubuntugis-unstable
  .github/workflows/builder_releaser.yml
Labels: ci-cd

update(ci): use GDAL 3.11 for Windows build
  .github/workflows/builder_releaser.yml
Labels: ci-cd

update(tooling): add SonarQube VS Code settings
  .vscode/settings.json
Labels: none

update(docs): add missing python3-dev system dependency
  docs/development/ubuntu.md
Labels: none

release: bump version to 4.0.0-beta11
  dicogis/__about__.py
Labels: none

fix(tooling): remove encoding pragma
  .pre-commit-config.yaml
Labels: none

fix(packaging): typo in numpy extra
  pyproject.toml
Labels: none

add(tests): exten Docker composition to include udata
  .gitignore
  pyproject.toml
  tests/container/docker-compose.dev.yml
Labels: quality

update(docs): add how to run basic commands after testing setup
  .gitignore
  docs/development/tests.md
  docs/static/img/qgis_config_env-vars_pgservicefile_dicogis_tests.png
  docs/static/img/qgis_postgis_connection_dicogis.png
  docs/static/img/qgis_postgis_connection_dicogis_listing.png
Labels: none

fix(tooling): removing coverage source since it's already passed through pytest-cov
  pyproject.toml
Labels: none

chore(deps): bump typer minimal version
  pyproject.toml
Labels: none

update(tooling): bump minimal Python version
  .pre-commit-config.yaml
Labels: none

fix(gui): output path was missing in process_files method
  dicogis/ui/main_windows.py
Labels: none

typo
  dicogis/cli/cmd_inventory.py
Labels: none

update(docs): add every environment variables exposing settings
  docs/usage/settings.md
Labels: none

update(tooling): refine config for autogenerated release notes
  .github/release.yml
Labels: ci-cd

update(tooling): refine git log
  .mailmap
Labels: none

release: bump version to 4.0.0-beta12
  dicogis/__about__.py
Labels: none

feature(ui): add option to enable debug mode
  dicogis/ui/tab_settings.py
Labels: none

Add CI test for udata publication and fix slug dedup bug
  dicogis/cli/cmd_publish.py
  pyproject.toml
  tests/test_cli_publish_udata.py
Labels: quality

Add CI matrix testing publish against 2 real uData major versions
  .github/workflows/tester_udata_publish.yml
  docs/development/tests.md
  tests/container/docker-compose.ci-udata.yml
  tests/container/udata-pinned/Dockerfile
  tests/container/udata-pinned/udata.cfg
Labels: ci-cd, quality

Fix uData publish CI: cache backend crash + missing image env var
  .github/workflows/tester_udata_publish.yml
  tests/container/udata-pinned/udata.cfg
Labels: ci-cd, quality

Address SonarCloud/CodeQL findings on the uData publish workflow
  .github/workflows/tester_udata_publish.yml
  tests/container/udata-pinned/Dockerfile
Labels: ci-cd, quality

Pin remaining pinnable pip installs flagged by SonarCloud
  .github/workflows/tester_udata_publish.yml
Labels: ci-cd

Fix uData CI user creation: use a resolving email domain
  .github/workflows/tester_udata_publish.yml
Labels: ci-cd

Disable email deliverability check for the CI admin user
  tests/container/udata-pinned/udata.cfg
Labels: quality

Add CLAUDE.md documenting codebase structure and workflows
  CLAUDE.md
Labels: none

feat(ui): convert GUI from Tkinter/ttk to PyQt6
  builder/pyinstaller_build_ubuntu_gui.py
  builder/pyinstaller_build_windows_gui.py
  dicogis/georeaders/process_files.py
  dicogis/ui/collapsible_frame.py
  dicogis/ui/dialogs/__init__.py
  dicogis/ui/dialogs/database_connection_dialog.py
  dicogis/ui/main.py
  dicogis/ui/main_windows.py
  dicogis/ui/misc_buttons.py
  dicogis/ui/scrollable_table.py
  dicogis/ui/tab_credits.py
  dicogis/ui/tab_database.py
  dicogis/ui/tab_files.py
  dicogis/ui/tab_settings.py
  dicogis/ui/workers.py
  dicogis/utils/options.py
  dicogis/utils/utils.py
  docs/usage/settings.md
  pyproject.toml
  tests/dev/dev_style_bouton.py
  tests/dev/dev_style_labelframe.py
  tests/dev/dev_tkinter_collapsible_frame.py
  tests/dev/dev_ui_db_tab.py
  tests/dev/tkinter_ubuntu.py
  tests/ui/__init__.py
  tests/ui/test_main_window_smoke.py
  tests/ui/test_options_manager.py
  tests/ui/test_workers.py
Labels: quality

.github/labeler.yml:

bug:
    - head-branch:
          - ^fix
          - fix
          - ^hotfix
          - hotfix

ci-cd:
    - changed-files:
          - any-glob-to-any-file:
                - .github/**

CLI:
    - changed-files:
          - any-glob-to-any-file:
                - dicogis/cli/**
    - head-branch:
          - ^cli
          - cli

documentation:
    - changed-files:
          - any-glob-to-any-file:
                - "*.md"
                - docs/**
                - examples/**
    - head-branch:
          - ^docs
          - documentation

enhancement:
    - head-branch:
          - ^feature
          - feature
          - ^improve
          - improve

packaging:
    - changed-files:
          - any-glob-to-any-file:
                - builder/**/*
                - Dockerfile
                - setup.py
                - .dockerignore
    - head-branch:
          - ^packaging
          - packaging

quality:
    - changed-files:
          - any-glob-to-any-file:
                - tests/**/*

tooling:
    - changed-files:
          - any-glob-to-any-file:
                - ".*"
                - codecov.yml
                - setup.cfg
                - sonar-project.properties
                - .vscode/**/*
    - head-branch:
          - ^tooling
          - tooling
