Repository Guts/DicoGIS, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, quality

.github/labeler.yml:

bug:
    - head-branch:
          - ^fix
          - fix
          - ^hotfix
          - hotfix

ci-cd:
    - changed-files:
          - any-glob-to-any-file:
                - .github/**

CLI:
    - changed-files:
          - any-glob-to-any-file:
                - dicogis/cli/**
    - head-branch:
          - ^cli
          - cli

documentation:
    - changed-files:
          - any-glob-to-any-file:
                - "*.md"
                - docs/**
                - examples/**
    - head-branch:
          - ^docs
          - documentation

enhancement:
    - head-branch:
          - ^feature
          - feature
          - ^improve
          - improve

packaging:
    - changed-files:
          - any-glob-to-any-file:
                - builder/**/*
                - Dockerfile
                - setup.py
                - .dockerignore
    - head-branch:
          - ^packaging
          - packaging

quality:
    - changed-files:
          - any-glob-to-any-file:
                - tests/**/*

tooling:
    - changed-files:
          - any-glob-to-any-file:
                - ".*"
                - codecov.yml
                - setup.cfg
                - sonar-project.properties
                - .vscode/**/*
    - head-branch:
          - ^tooling
          - tooling

fix(listing): drop dead UnicodeDecodeError fallback in folder walk
  dicogis/listing/geodata_listing.py
Labels: none

ci: add explicit read-only permissions to linter workflow
  .github/workflows/linter_ubuntu.yml
Labels: ci-cd

ci: harden GITHUB_TOKEN permissions and checkout credentials across workflows
  .github/workflows/builder_releaser.yml
  .github/workflows/docs_builder.yml
  .github/workflows/linter_ubuntu.yml
  .github/workflows/tester_ubuntu.yml
  .github/workflows/tester_udata_publish.yml
Labels: ci-cd

fix(ci): move builder_releaser.yml permissions from workflow to job level
  .github/workflows/builder_releaser.yml
Labels: ci-cd

fix(ci,utils,tests): fix Windows failures surfaced by the new test-windows CI job
  .github/workflows/tester.yml
  dicogis/utils/journalizer.py
  tests/test_geodata_listing.py
Labels: ci-cd, quality

ci(tests): run pytest on Windows and rename tester_ubuntu.yml to tester.yml
  .github/workflows/tester.yml
  README.md
Labels: ci-cd

ci(tests): pin test-windows job's actions to commit SHAs
  .github/workflows/tester.yml
Labels: ci-cd

ci(tests): pass matrix/env values through env vars instead of inline template expressions
  .github/workflows/tester.yml
Labels: ci-cd

fix(utils): don't crash on import when no notification backend is available
  dicogis/utils/notifier.py
  tests/test_utils_notifier.py
Labels: quality

ci(tests): add workflow-level permissions block to tester.yml
  .github/workflows/tester.yml
Labels: ci-cd

fix(tests): fix Windows path-comparison bug in test_gdb_internals_are_not_traversed
  tests/test_geodata_listing.py
Labels: quality
