Repository Guts/DicoGIS, changes with the labels that .github/labeler.yml gives for each.
All labels: ci-cd, quality

ci: install Qt runtime libs and run pytest offscreen for PyQt6
  .github/workflows/linter_ubuntu.yml
  .github/workflows/tester_ubuntu.yml
Labels: ci-cd

fix: suppress SonarCloud false positive on GDAL NTLM proxy option
  dicogis/ui/main_windows.py
Labels: none

chore(deps): bump pytqt6 to 6.11
  pyproject.toml
Labels: none

Expose UI style and debug logging in the Options tab
  dicogis/ui/main.py
  dicogis/ui/tab_settings.py
  dicogis/utils/options.py
  docs/usage/settings.md
  options_TPL.ini
Labels: none

feat(gui): add Publish tab for uData catalog publication
  dicogis/cli/cmd_publish.py
  dicogis/ui/__init__.py
  dicogis/ui/main_windows.py
  dicogis/ui/tab_publish.py
  dicogis/ui/workers.py
  dicogis/utils/options.py
  docs/usage/settings.md
  options_TPL.ini
  tests/ui/test_main_window_smoke.py
  tests/ui/test_options_manager.py
  tests/ui/test_tab_publish.py
  tests/ui/test_workers.py
Labels: quality

docs(github): add PR template and branch-prefix guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: ci-cd

docs: document Conventional Commits convention
  CONTRIBUTING.md
Labels: none

docs: require AI/LLM usage disclosure in contributions
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: ci-cd

feat(gui,cli): add a dedicated GeoPackage filter distinct from FileGDB/Spatialite
  dicogis/cli/cmd_inventory.py
  dicogis/ui/main_windows.py
  dicogis/ui/tab_files.py
  docs/introduction/en.md
  docs/introduction/es.md
  docs/introduction/fr.md
  options_TPL.ini
Labels: none

chore(pr): add GUI screenshot illustrating the GeoPackage filter
  .github/pr-media/pr-448-geopackage-filter.png
Labels: ci-cd

docs(gui): move GeoPackage filter screenshot into docs image assets
  docs/static/img/dicogis_gui_filters_geopackage.png
Labels: none

test(ui): cover GeoPackage-only selection in check_fields
  tests/ui/test_main_window_smoke.py
Labels: quality

fix(cli,gui): defer GDAL imports so dicogis-cli/gui work without it, document pipx install
  README.md
  dicogis/cli/cmd_inventory.py
  dicogis/ui/main.py
  docs/index.md
  docs/usage/installation.md
Labels: none

refactor(gui): load PyQt6 widgets from .ui files, adopt dlg_/wdg_/mw_ naming
  CLAUDE.md
  builder/pyinstaller_build_ubuntu_gui.py
  builder/pyinstaller_build_windows_gui.py
  dicogis/ui/__init__.py
  dicogis/ui/dialogs/dlg_database_connection.py
  dicogis/ui/dialogs/dlg_database_connection.ui
  dicogis/ui/main.py
  dicogis/ui/mw_dicogis.py
  dicogis/ui/mw_dicogis.ui
  dicogis/ui/wdg_collapsible_frame.py
  dicogis/ui/wdg_collapsible_frame.ui
  dicogis/ui/wdg_misc_buttons.py
  dicogis/ui/wdg_misc_buttons.ui
  dicogis/ui/wdg_scrollable_table.py
  dicogis/ui/wdg_scrollable_table.ui
  dicogis/ui/wdg_tab_credits.py
  dicogis/ui/wdg_tab_credits.ui
  dicogis/ui/wdg_tab_database.py
  dicogis/ui/wdg_tab_database.ui
  dicogis/ui/wdg_tab_files.py
  dicogis/ui/wdg_tab_files.ui
  dicogis/ui/wdg_tab_publish.py
  dicogis/ui/wdg_tab_publish.ui
  dicogis/ui/wdg_tab_settings.py
  dicogis/ui/wdg_tab_settings.ui
  pyproject.toml
  tests/ui/test_main_window_smoke.py
  tests/ui/test_options_manager.py
  tests/ui/test_tab_publish.py
Labels: quality

chore(i18n): remove 35 dead translation keys from locale files
  dicogis/locale/lang_EN.xml
  dicogis/locale/lang_ES.xml
  dicogis/locale/lang_FR.xml
Labels: none

docs: sync CLAUDE.md with CONTRIBUTING guidelines and recent sessions
  CLAUDE.md
Labels: none

docs: add AI disclosure level table to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

docs: point CLAUDE.md's AI disclosure note at the CONTRIBUTING.md table
  CLAUDE.md
Labels: none

build(packaging): make PyQt6 an optional dependency (gui extra)
  .github/workflows/builder_releaser.yml
  .github/workflows/tester_ubuntu.yml
  CLAUDE.md
  README.md
  dicogis/ui/__init__.py
  dicogis/ui/main.py
  dicogis/ui/mw_dicogis.py
  docs/development/ubuntu.md
  docs/usage/installation.md
  pyproject.toml
  tests/test_ui_optional_pyqt6.py
Labels: ci-cd, quality

feat(gui): migrate widget text to Qt native translation (.ts/.qm + QTranslator)
  CLAUDE.md
  builder/pyinstaller_build_ubuntu_gui.py
  builder/pyinstaller_build_windows_gui.py
  dicogis/locale/lang_EN.xml
  dicogis/locale/lang_ES.xml
  dicogis/locale/lang_FR.xml
  dicogis/ui/dialogs/dlg_database_connection.py
  dicogis/ui/i18n/dicogis_en.ts
  dicogis/ui/i18n/dicogis_es.qm
  dicogis/ui/i18n/dicogis_es.ts
  dicogis/ui/i18n/dicogis_fr.qm
  dicogis/ui/i18n/dicogis_fr.ts
  dicogis/ui/mw_dicogis.py
  dicogis/ui/wdg_misc_buttons.py
  dicogis/ui/wdg_scrollable_table.py
  dicogis/ui/wdg_tab_database.py
  dicogis/ui/wdg_tab_files.py
  dicogis/ui/wdg_tab_publish.py
  dicogis/ui/wdg_tab_settings.py
  pyproject.toml
Labels: none

feat(i18n): complete FR/ES translations for the Qt-native GUI strings
  dicogis/ui/i18n/dicogis_es.qm
  dicogis/ui/i18n/dicogis_es.ts
  dicogis/ui/i18n/dicogis_fr.qm
  dicogis/ui/i18n/dicogis_fr.ts
Labels: none

test(listing): add coverage for geodata_listing.py
  tests/test_geodata_listing.py
Labels: quality

test(georeaders): add coverage for process_files.py orchestration
  tests/test_process_files.py
Labels: quality

test(export): add coverage for MetadatasetSerializerXlsx (to_xlsx.py)
  tests/test_export_xlsx.py
Labels: quality

test(export): add coverage for MetadatasetSerializerJson (to_json.py)
  tests/test_export_json.py
Labels: quality

fix(listing,georeaders,export): fix bugs surfaced by test-coverage work
  dicogis/export/to_json.py
  dicogis/export/to_xlsx.py
  dicogis/georeaders/process_files.py
  dicogis/listing/geodata_listing.py
  dicogis/locale/lang_EN.xml
  dicogis/locale/lang_ES.xml
  dicogis/locale/lang_FR.xml
  tests/test_export_json.py
  tests/test_export_xlsx.py
  tests/test_geodata_listing.py
  tests/test_process_files.py
Labels: quality

test(cli): add coverage for cmd_inventory.py
  tests/test_cli_inventory.py
Labels: quality

test(utils): add coverage for utils.py and notifier.py
  tests/test_utils_notifier.py
  tests/test_utils_utils.py
Labels: quality

test(models): add coverage for metadataset.py, feature_attributes.py, data_format.py
  tests/test_models_data_format.py
  tests/test_models_feature_attributes.py
  tests/test_models_metadataset.py
Labels: quality

fix(cli,utils): fix bugs surfaced by test-coverage work
  dicogis/cli/cmd_inventory.py
  dicogis/utils/notifier.py
  tests/test_cli_inventory.py
  tests/test_utils_notifier.py
Labels: quality

fix(models): fix signature() bugs surfaced by test-coverage work
  dicogis/models/feature_attributes.py
  dicogis/models/metadataset.py
  tests/test_models_feature_attributes.py
  tests/test_models_metadataset.py
Labels: quality

test(georeaders): add coverage for reading MapInfo TAB, KML, GML, GeoJSON, GXT, DXF and flat databases
  dicogis/georeaders/read_raster.py
  dicogis/georeaders/read_vector_flat_dataset.py
  tests/fixtures/fixture_data_generator.py
  tests/test_georeader_dxf.py
  tests/test_georeader_flat_database.py
  tests/test_georeader_raster.py
  tests/test_georeader_vector_formats.py
  tests/test_infos_vector.py
Labels: quality

test(georeaders): skip Geoconcept GXT test when GDAL lacks the optional driver
  tests/test_georeader_vector_formats.py
Labels: quality

feat(cli,gui): enable/disable formats based on installed GDAL driver support
  dicogis/cli/cmd_inventory.py
  dicogis/constants.py
  dicogis/ui/mw_dicogis.py
  dicogis/ui/wdg_tab_files.py
  dicogis/utils/environment.py
  tests/test_cli_inventory.py
  tests/test_utils_environment.py
  tests/ui/test_tab_files.py
Labels: quality

fix(options): default OptionsManager to platform app dir
  dicogis/ui/mw_dicogis.py
  dicogis/utils/options.py
Labels: none

improve(processing): move single progress outside quick fail or normal mode blocks
  dicogis/georeaders/process_files.py
  tests/test_georeaders_process_files.py
Labels: quality

perf(listing): prune .gdb directories from the folder walk
  dicogis/listing/geodata_listing.py
  tests/test_geodata_listing.py
Labels: quality

perf(listing): replace companion-file isfile() checks with a set lookup
  dicogis/listing/geodata_listing.py
  tests/test_geodata_listing.py
Labels: quality

perf(listing): replace companion-file isfile() checks with a set lookup
  dicogis/listing/geodata_listing.py
  tests/test_geodata_listing.py
Labels: quality

perf(listing): dispatch extension-based formats through a lookup table
  dicogis/listing/geodata_listing.py
Labels: none

.github/labeler.yml:

bug:
    - head-branch:
          - ^fix
          - fix
          - ^hotfix
          - hotfix

ci-cd:
    - changed-files:
          - any-glob-to-any-file:
                - .github/**

CLI:
    - changed-files:
          - any-glob-to-any-file:
                - dicogis/cli/**
    - head-branch:
          - ^cli
          - cli

documentation:
    - changed-files:
          - any-glob-to-any-file:
                - "*.md"
                - docs/**
                - examples/**
    - head-branch:
          - ^docs
          - documentation

enhancement:
    - head-branch:
          - ^feature
          - feature
          - ^improve
          - improve

packaging:
    - changed-files:
          - any-glob-to-any-file:
                - builder/**/*
                - Dockerfile
                - setup.py
                - .dockerignore
    - head-branch:
          - ^packaging
          - packaging

quality:
    - changed-files:
          - any-glob-to-any-file:
                - tests/**/*

tooling:
    - changed-files:
          - any-glob-to-any-file:
                - ".*"
                - codecov.yml
                - setup.cfg
                - sonar-project.properties
                - .vscode/**/*
    - head-branch:
          - ^tooling
          - tooling
